html, body, div, span, applet, object, iframe, h1, h2, h3, .error-comment, h4, h5, h6,
.panel-title, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

strong {
    font-weight: bold;
}

body {
    color: #212121;
    background-color: white;
    background-size: cover;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    overflow-x: hidden;
    margin: 0;
    font-family: "Golos Text", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 6px;
        height: 0;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 767px) {
    ::-webkit-scrollbar {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        background: transparent !important;
    }
}

a:hover, a:active {
    outline: 0;
}

button:focus {
    outline: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #212121;
}

a:hover {
    text-decoration: none;
    color: #212121;
}

a:focus {
    text-decoration: none;
    outline: none;
    color: #212121;
}

h1, h2, h3, .error-comment, h4, h5, h6, .panel-title {
    color: #212121;
}

h1 {
    font-size: 48px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3, .error-comment {
    font-size: 30px;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    line-height: 26px;
}

h6, .panel-title {
    font-size: 16px;
    line-height: 24px;
}

p {
    font-size: 14px;
    line-height: 25px;
}

p.lead {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 0;
    font-weight: 400;
}

p.text-muted {
    font-size: 14px;
}

.force-UTF-8 {
    content: "¡";
}

dt {
    font-weight: 600;
}

code {
    background: transparent;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}